* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-color: var(--white-primary-color);
    color: var(--dark-primary-color);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    color: var(--dark-primary-color);
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.container {
    margin: auto;
    max-width: var(--max-width);
    overflow: hidden;
    padding: 0 20px;
}


/* Navigatie home-pagina */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-primary-color);
    color: var(--white-primary-color);
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
}

.navbar a {
    color: var(--white-primary-color);
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    background-color: var(--blue-hyundai-color);
}

.nav-flex-1 {
    display: flex;
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-flex-1 h1 {
    padding-left: 10px;
    padding-top: 10px;
}

.nav-flex-1 img {
    width: 150px;
    height: 60px;
}

.nav-flex-1 .logo {
    font-weight: 600;
}

.nav-flex-2 {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-flex-2 ul {
    display: flex;
}


/* Header */

.main-photo {
    background: url("../images/slider_1.jpg") no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: var(--white-primary-color);
}

.main-photo .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px 20px;
}

.main-photo .content h1 {
    font-size: 55px;
    text-transform: uppercase;
}

.main-photo .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}


/* Overlay foto */

.main-photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}


/* Tekst boven de overlay leggen */

.main-photo * {
    z-index: 10;
}


/* Nieuws */

#news.news {
    background-color: var(--blue-hyundai-color);
    color: var(--white-primary-color);
}

.news {
    padding: 10px 0;
}

#news h4 a {
    color: #fff;
    text-decoration: underline;
}

#news h4 a:hover {
    color: #ffbc00;
}

#news .tel-attr {
    color: #fff;
    text-decoration: underline;
}


/* Links */

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links img {
    width: 300px;
    margin-top: 20px;
}

.links-flex-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-flex-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Buttons */

.links .btn {
    margin-left: 70px;
}


/* Stock & 2de-hands */

.stock-wagens {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.stock-wagens .stock-border {
    border: 1px solid #c5c3c3f5;
}

.stock-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}


/* Acties & Nieuws
/* Algemeen */

#acties .acties .foto {
    border: 1px solid #c5c3c3f5;
}

#acties .acties .foto h3 {
    margin-top: 10px;
}

#acties .acties .text {
    border: 1px solid #c5c3c3f5;
    padding: 10px;
}

#acties .acties .text a:hover {
    background: #ffbc00;
}

#acties .acties .border-left {
    border-left: 3px solid #ffbc00;
}

#acties .acties .border-right {
    border-right: 3px solid #ffbc00;
}

#acties .acties .acties-border {
    display: grid;
    grid-template-areas: "foto-1 text-1" "text-2 foto-2" "foto-3 text-3" "text-4 foto-4";
    grid-gap: 1.2rem;
}


/* Foto 1 */

#acties .acties .foto-1 {
    grid-area: foto-1;
}

#acties .acties .text-1 {
    grid-area: text-1;
}


/* Foto 2 */

#acties .acties .foto-2 {
    grid-area: foto-2;
}

#acties .acties .text-2 {
    grid-area: text-2;
}


/* Foto 3 */

#acties .acties .foto-3 {
    grid-area: foto-3;
}

#acties .acties .text-3 {
    grid-area: text-3;
}


/* Foto 4 */

#acties .acties .foto-4 {
    grid-area: foto-4;
}

#acties .acties .text-4 {
    grid-area: text-4;
}


/* Historiek */


/* -- Banner */

#banner {
    background-color: #ccc;
    display: block;
    color: #fff;
    height: 20vh;
    border-bottom: 1px #fff solid;
}

#banner.banner {
    background: url("../images/historiek/dynamic-header-16.jpg") no-repeat center center/cover;
    width: 100%;
    margin-top: 50px;
}

#banner .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Top, right, bottom, left */
    padding: 5rem 10rem 0 7rem;
}

#banner .content h1 {
    font-size: 32px;
    font-weight: 800;
}

#banner .content ul {
    display: flex;
}

#banner .content ul li {
    padding-right: 0.5rem;
    color: #333;
    font-weight: 600;
}

#banner .content ul li a {
    color: var(--white-primary-color);
    font-weight: 600;
    color: #333;
}

#banner .content ul li a:hover {
    border-bottom: 2px #ffbc00 solid;
}


/* -- Tijdlijn */

#timeline {
    /* background: var(--timeline-primary-color); */
    color: var(--dark-primary-color);
    /* font-weight: bold; */
}

#timeline ul {
    /* background: var(--timeline-primary-color); */
    padding: 50px 0;
}


/* ---- Create Line */

#timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #ffbc00;
}


/* ---- Boxes */

#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: var(--timeline-secondary-color);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}


/* ---- Right Side */

#timeline ul li:nth-child(odd) div {
    left: 40px;
    transform: translate(200px, 0);
}


/* ---- Left Side */

#timeline ul li:nth-child(even) div {
    left: -434px;
    transform: translate(-200px, 0);
}


/* ---- Dots */

#timeline ul li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    /* background: inherit; */
    background: #ffbc00;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}


/* ---- Arrows Base */

#timeline div:before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}


/* ---- Right Side Arrows */

#timeline ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--timeline-secondary-color) transparent transparent;
}


/* ---- Left Side Arrows */

#timeline ul li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent var(--timeline-secondary-color);
}


/* ---- Show Boxes */

#timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* ---- Dots in de kleur van de boxes */


/* #timeline ul li.show:after {
    background: var(--timeline-secondary-color); 
} */


/* Contact */

#contact .container {
    display: flex;
}

#contact .contact {
    flex: 2;
}

#contact .aside {
    flex: 1;
}


/* Contact -- Form */

#contact label {
    display: block;
    padding-top: 15px;
}

#contact input {
    width: 50%;
    padding: 10px;
    border: #ddd solid 2px;
    border-radius: 5px;
}

#contact textarea {
    width: 50%;
    border: #ddd solid 2px;
    border-radius: 5px;
}


/* Contact -- aside */

#contact .aside .choose-list ul li {
    list-style: none;
    font-size: 1rem;
    line-height: 1.8;
}

#contact .aside .choose-list ul li i.fas {
    color: var(--blue-hyundai-color);
}

#contact .aside .contact-grid ul {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 0.5rem;
}

#contact .aside .contact-grid a {
    text-decoration: underline;
    color: blue;
}

#contact .aside .contact-grid a:hover {
    color: #ffbc00;
}


/* Openingsuren */

#openingsuren .op-uren {
    padding: 1rem;
    text-align: left;
}

#openingsuren .openingsuren-grid {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr 1fr 0.4fr 1fr;
    grid-template-areas: "show-titel show-titel recep-titel recep-titel werk-titel werk-titel" "show-dagen show-uren recep-dagen recep-uren werk-dagen werk-uren";
}

#openingsuren .op-uren.show-titel {
    /* grid-column: 1 / span 2; */
    grid-area: show-titel;
}

#openingsuren .op-uren.show-dagen {
    grid-area: show-dagen;
}

#openingsuren .op-uren.show-uren {
    grid-area: show-uren;
}

#openingsuren .op-uren.recep-titel {
    /* grid-column: 3 / span 2; */
    grid-area: recep-titel;
}

#openingsuren .op-uren.recep-dagen {
    grid-area: recep-dagen;
}

#openingsuren .op-uren.recep-uren {
    grid-area: recep-uren;
}

#openingsuren .op-uren.werk-titel {
    /* grid-column: 5 / span 2; */
    grid-area: werk-titel;
}

#openingsuren .op-uren.werk-dagen {
    grid-area: werk-dagen;
}

#openingsuren .op-uren.werk-uren {
    grid-area: werk-uren;
}


/* Footer */

#footer {
    background: #6d6a6a;
}

#footer .item {
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    /* text-align: left; */
    color: #fff;
}

#footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 0.92fr;
}

#footer .item.contact-text a {
    color: #fff;
}

#footer .item.contact-text a:hover {
    color: #ffbc00;
}

#footer .item.social-media {
    text-align: center;
    font-size: 1rem;
}

#footer .item.social-media .social a {
    text-decoration: none;
    font-size: 28px;
    color: #f1f1f1;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: 0, 4s all;
    line-height: 28px;
    cursor: pointer;
    background: #002c5f;
}

#footer .item.social-media .social a:hover {
    color: #ffbc00;
}

#footer .item.copyright {
    text-align: center;
    font-size: 1rem;
}

#footer .item.copyright a:hover {
    color: #ffbc00;
}

#footer .item.copyright a {
    color: #fff;
    text-decoration: underline;
}


/* Media Queries */


/* De website is ontworpen voor desktops 
   -- gebruik dan max-width van groot naar klein*/


/* De website is ontworpen voor mobile
   -- gebruik dan min-width van klein naar groot*/


/* -- Ipad Pro / Laptop*/

@media screen and (max-width: 1024px) {
    .main-photo {
        height: 50rem;
    }
    .main-photo .content h1 {
        font-size: 40px;
    }
    .links img {
        width: 200px;
        margin-top: 20px;
    }
    .stock-wagens {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-large {
        width: 40%;
        padding: 5px 5px;
    }
    /* Historiek */
    #banner {
        height: 15vh;
    }
    #banner .content {
        /* Top, right, bottom, left */
        padding: 3rem 5rem 0 5rem;
    }
    #banner .content h1 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    #banner h3 {
        font-size: 1rem;
        font-weight: 500;
    }
    #banner .pl-7 {
        padding-left: 5rem;
    }
    /* Contact */
    #contact .contact {
        flex: 1.3;
    }
    #contact .aside {
        flex: 1;
    }
    /* Openingsuren */
    #openingsuren .openingsuren-grid {
        grid-template-columns: 0.4fr 1fr 0.4fr 1fr;
        grid-template-areas: "show-titel show-titel recep-titel recep-titel" "show-dagen show-uren recep-dagen recep-uren" "werk-titel werk-titel . ." "werk-dagen werk-uren . .";
    }
    #openingsuren .op-uren.show-titel {
        grid-area: show-titel;
    }
    #openingsuren .op-uren.show-dagen {
        grid-area: show-dagen;
    }
    #openingsuren .op-uren.show-uren {
        grid-area: show-uren;
    }
    #openingsuren .op-uren.recep-titel {
        grid-area: recep-titel;
    }
    #openingsuren .op-uren.recep-dagen {
        grid-area: recep-dagen;
    }
    #openingsuren .op-uren.recep-uren {
        grid-area: recep-uren;
    }
    #openingsuren .op-uren.werk-titel {
        grid-area: werk-titel;
    }
    #openingsuren .op-uren.werk-dagen {
        grid-area: werk-dagen;
    }
    #openingsuren .op-uren.werk-uren {
        grid-area: werk-uren;
    }
}

@media screen and (max-width: 768px) {
    .nav-flex-1 i {
        display: none;
    }
    .nav-flex-1 h1 {
        font-size: 1.5rem;
    }
    .links img {
        width: 150px;
        margin-top: 20px;
    }
    .btn {
        padding: 10px 10px;
        font-size: 14px;
    }
    /* Contact */
    #contact .contact {
        flex: 1;
    }
    #contact .aside {
        flex: 1;
    }
    /* Historiek */
    #timeline ul li div {
        width: 250px;
    }
    #timeline ul li:nth-child(even) div {
        left: -284px;
    }
}


/* -- Smartphone */


/* -- Iphone 5,6,7,8,SE,6+,7+,8+ */

@media screen and (max-width: 600px) {
    /* Navbar */
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-flex-1 {
        /* display: block; */
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
    .nav-flex-1 h1 {
        font-size: 1rem;
        text-align: center;
    }
    .navbar a {
        font-size: 0.8rem;
    }
    /* Foto */
    .main-photo {
        height: 30rem;
    }
    .main-photo .content h1 {
        font-size: 30px;
    }
    /* Aankondiging */
    #news h4 {
        font-size: 0.8rem;
    }
    /* Links */
    .links img {
        width: 150px;
        margin-top: 15px;
    }
    .links-flex-1 {
        display: block;
    }
    .links-flex-2 {
        display: block;
    }
    .links .btn {
        margin-left: 3rem;
    }
    .btn {
        padding: 5px 5px;
    }
    /* Stock */
    .stock-wagens {
        grid-template-columns: 1fr;
    }
    .btn-large {
        width: 45%;
        padding: 5px 5px;
    }
    /* Acties */
    #acties .acties .acties-border {
        grid-template-areas: "foto-1" "text-1" "foto-2" "text-2" "foto-3" "text-3" "foto-4" "text-4";
        grid-gap: 0.7rem;
    }
    #acties .acties .border-left {
        border-left: 1px solid #c5c3c3f5;
        border-top: 2px solid #ffbc00;
    }
    #acties .acties .border-right {
        border-right: 1px solid #c5c3c3f5;
        border-top: 2px solid #ffbc00;
    }
    #acties .acties .text p {
        font-size: 1rem;
    }
    /* Historiek */
    #banner {
        height: 12vh;
    }
    #banner .content {
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
    }
    #banner .content h1 {
        font-size: 1rem;
        font-weight: 800;
    }
    #banner .content ul li {
        padding-top: 0.3rem;
        font-size: 0.7rem;
        color: var(--white-primary-color);
    }
    #banner .content ul li a {
        color: var(--white-primary-color);
    }
    #banner .pl-7 {
        padding-left: 5rem;
        padding-top: 0rem;
    }
    #banner h3 {
        font-size: 0.7rem;
    }
    #timeline ul li {
        margin-left: 20px;
    }
    #timeline ul li div {
        width: calc(100vw - 90px);
    }
    #timeline ul li:nth-child(even) div {
        left: 40px;
    }
    #timeline ul li:nth-child(even) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--timeline-secondary-color) transparent transparent;
    }
    /* Contact */
    #contact .container {
        display: block;
    }
    /* Openingsuren */
    #openingsuren .openingsuren-grid {
        grid-template-columns: 0.4fr 1fr;
        grid-template-areas: "show-titel show-titel" "show-dagen show-uren" "recep-titel recep-titel" "recep-dagen recep-uren" "werk-titel werk-titel" "werk-dagen werk-uren";
    }
    #openingsuren .op-uren.show-titel {
        grid-area: show-titel;
    }
    #openingsuren .op-uren.show-dagen {
        grid-area: show-dagen;
    }
    #openingsuren .op-uren.show-uren {
        grid-area: show-uren;
    }
    #openingsuren .op-uren.recep-titel {
        grid-area: recep-titel;
    }
    #openingsuren .op-uren.recep-dagen {
        grid-area: recep-dagen;
    }
    #openingsuren .op-uren.recep-uren {
        grid-area: recep-uren;
    }
    #openingsuren .op-uren.werk-titel {
        grid-area: werk-titel;
    }
    #openingsuren .op-uren.werk-dagen {
        grid-area: werk-dagen;
    }
    #openingsuren .op-uren.werk-uren {
        grid-area: werk-uren;
    }
    /* Footer */
    #footer .footer-grid {
        grid-template-columns: 1fr;
    }
    #footer .item {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    #banner .content ul {
        display: none;
    }
    #map .section-title.text-center {
        text-align: left;
    }
    #map .bottom-line-text {
        margin: 0.5rem auto 1rem 0;
    }
    #contact .aside-1 .choose-list ul li {
        font-size: 0.9rem !important;
    }
    #contact .aside-2 ul li {
        font-size: 0.9rem !important;
    }
    #openingsuren .openingsuren-grid {
        font-size: 0.9rem !important;
    }
    /* Footer */
    #footer .item {
        font-size: 0.8rem;
    }
    #footer .item.social-media {
        font-size: 0.8rem;
    }
    #footer .item.copyright {
        font-size: 0.8rem;
    }
    #footer .item.social-media .social a {
        font-size: 16px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}

@media screen and (max-width: 325px) {
    /* Home */
    .main-photo .content h1 {
        font-size: 25px;
    }
    .main-photo .content p {
        font-size: 1.2rem;
    }
    /* Links */
    .links img {
        width: 120px;
        margin-top: 15px;
    }
    .links .btn {
        margin-left: 1.5rem;
    }
    /* Acties */
    #acties h2 {
        font-size: 1.3rem;
    }
    /* Contact */
    #map .container h2 {
        font-size: 1.3rem;
    }
    #contact .contact h2 {
        font-size: 1.3rem;
    }
    #contact .contact h4 {
        font-size: 1rem;
    }
    #contact label {
        font-size: 0.9rem;
    }
    #contact .aside h2 {
        font-size: 1.3rem;
    }
    #contact .aside-1 .choose-list ul li {
        font-size: 0.7rem !important;
    }
    #contact .aside-2 ul li {
        font-size: 0.7rem !important;
    }
    /* Openingsuren */
    #openingsuren .section-title.text-center {
        text-align: left;
    }
    #openingsuren .bottom-line-text {
        margin: 0.5rem auto 1rem 0;
    }
    #openingsuren h2 {
        font-size: 1.3rem;
    }
    #openingsuren .openingsuren-grid {
        font-size: 0.7rem !important;
    }
}


/* -- Tablet Landscape */

@media only screen and (orientation: landscape) and (max-width: 1024px) {
    .main-photo {
        height: 40rem;
    }
    #news h4 {
        font-size: 1rem;
    }
    #banner .pt-1 {
        padding-top: 0;
    }
}


/* Smartphone landscape */

@media only screen and (orientation: landscape) and (max-width: 850px) {
    #banner {
        height: 20vh;
    }
    #banner .content {
        /* Top, right, bottom, left */
        /* padding: 5rem 10rem 0 7rem; */
    }
    #banner .content h1 {
        font-size: 20px;
        font-weight: 800;
    }
}