/* Variabelen */

:root {
    --blue-hyundai-color: #002c5f;
    --dark-primary-color: #333;
    --light-primary-color: #f4f4f4;
    --white-primary-color: #fff;
    --timeline-primary-color: #eff1f3;
    /* --timeline-secondary-color: #5b7bb4; */
    --timeline-secondary-color: #d5e1ed;
    --max-width: 1300px;
}

.text-primary {
    color: var(--blue-hyundai-color);
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}


/* Centering, margins, padding */

.text-center {
    text-align: center;
}


/* Padding top */

.pt-0 {
    padding-top: 0;
}

.pt-small {
    padding-top: 0.5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pt-6 {
    padding-top: 6rem;
}

.pt-7 {
    padding-top: 7rem;
}

.pt-8 {
    padding-top: 8rem;
}

.pt-9 {
    padding-top: 9rem;
}


/* Padding bottom */

.pb-0 {
    padding-bottom: 0;
}

.pb-small {
    padding-bottom: 0.5rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.pb-7 {
    padding-bottom: 7rem;
}

.pb-8 {
    padding-bottom: 8rem;
}

.pb-9 {
    padding-bottom: 9rem;
}


/* Padding right */

.pr-0 {
    padding-right: 0;
}

.pr-small {
    padding-right: 0.5rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pr-4 {
    padding-right: 4rem;
}

.pr-5 {
    padding-right: 5rem;
}

.pr-6 {
    padding-right: 6rem;
}

.pr-7 {
    padding-right: 7rem;
}

.pr-8 {
    padding-right: 8rem;
}

.pr-9 {
    padding-right: 9rem;
}


/* Padding left */

.pl-0 {
    padding-left: 0;
}

.pl-small {
    padding-left: 0.5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pl-6 {
    padding-left: 6rem;
}

.pl-7 {
    padding-left: 7rem;
}

.pl-8 {
    padding-left: 8rem;
}

.pl-9 {
    padding-left: 9rem;
}


/* Padding top & bottom */

.py-small {
    padding: 0.5rem 0;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.py-4 {
    padding: 4rem 0;
}

.py-5 {
    padding: 5rem 0;
}

.py-6 {
    padding: 6rem 0;
}

.py-7 {
    padding: 7rem 0;
}

.py-8 {
    padding: 8rem 0;
}

.py-9 {
    padding: 9rem 0;
}


/* Padding right & left */

.px-small {
    padding: 0 0.5rem;
}

.px-1 {
    padding: 0 1rem;
}

.px-2 {
    padding: 0 2rem;
}

.px-3 {
    padding: 0 3rem;
}

.px-4 {
    padding: 0 4rem;
}

.px-5 {
    padding: 0 5rem;
}

.px-6 {
    padding: 0 6rem;
}

.px-7 {
    padding: 0 7rem;
}

.px-8 {
    padding: 0 8rem;
}

.px-9 {
    padding: 0 9rem;
}


/* Margin-top */

.mt-0 {
    margin-top: 0;
}

.mt-small {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-9 {
    margin-top: 9rem;
}


/* Margin bottom */

.mb-0 {
    margin-bottom: 0;
}

.mb-small {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mb-9 {
    margin-bottom: 9rem;
}


/* Margin right */

.mr-0 {
    margin-right: 0;
}

.mr-small {
    margin-right: 0.5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mr-6 {
    margin-right: 6rem;
}

.mr-7 {
    margin-right: 7rem;
}

.mr-8 {
    margin-right: 8rem;
}

.mr-9 {
    margin-right: 9rem;
}


/* Margin left */

.ml-0 {
    margin-left: 0;
}

.ml-small {
    margin-left: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

.ml-6 {
    margin-left: 6rem;
}

.ml-7 {
    margin-left: 7rem;
}

.ml-8 {
    margin-left: 8rem;
}

.ml-9 {
    margin-left: 9rem;
}


/* Margin top & bottom */

.my-small {
    margin: 0.5rem 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-3 {
    margin: 3rem 0;
}

.my-4 {
    margin: 4rem 0;
}

.my-5 {
    margin: 5rem 0;
}

.my-6 {
    margin: 6rem 0;
}

.my-7 {
    margin: 7rem 0;
}

.my-8 {
    margin: 8rem 0;
}

.my-9 {
    margin: 9rem 0;
}


/* Margin right & left */

.mx-small {
    margin: 0 0.5rem;
}

.mx-1 {
    margin: 0 1rem;
}

.mx-2 {
    margin: 0 2rem;
}

.mx-3 {
    margin: 0 3rem;
}

.mx-4 {
    margin: 0 4rem;
}

.mx-5 {
    margin: 0 5rem;
}

.mx-6 {
    margin: 0 6rem;
}

.mx-7 {
    margin: 0 7rem;
}

.mx-8 {
    margin: 0 8rem;
}

.mx-9 {
    margin: 0 9rem;
}


/* Onderlijning */

.bottom-line {
    height: 1px;
    width: auto;
    display: block;
    background: #c5c3c3f5;
    margin: 10px 0;
}

.bottom-line-text {
    height: 3px;
    width: 5rem;
    display: block;
    background: #ffbc00;
    margin: 0.5rem auto 1rem auto;
}

.bottom-line-text-left {
    height: 3px;
    width: 5rem;
    display: block;
    background: #ffbc00;
}


/* Buttons */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: var(--white-primary-color);
    background-color: var(--blue-hyundai-color);
    text-align: center;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: #ffbc00;
}

.btn-small {
    cursor: pointer;
    padding: 6px 12px;
    display: inline-block;
    color: var(--white-primary-color);
    background-color: var(--blue-hyundai-color);
    font-size: 14px;
    line-height: 1.4;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn-small:hover {
    background-color: #ffbc00;
}

.btn-small-demo {
    cursor: pointer;
    padding: 6px 12px;
    display: inline-block;
    color: var(--white-primary-color);
    background-color: #c7081b;
    font-size: 14px;
    line-height: 1.4;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn-small-demo:hover {
    background-color: #ffbc00;
}

.btn-large {
    width: 30%;
    cursor: pointer;
    padding: 10px 30px;
    display: inline-block;
    color: var(--white-primary-color);
    background-color: var(--blue-hyundai-color);
    font-size: 14px;
    line-height: 1.4;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn-large:hover {
    background-color: #ffbc00;
}